body {
  margin: -20px 0 0 0;
  font-family: 'Maven Pro', sans-serif;
}

.wrapper {
  background-color: rgb(240, 240, 237);
}

.container {
  margin: 0 60px;
  padding-top: 35px;
}

.upperPage {
  background:
    linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
      ),
    url('../images/misty-mountain.jpeg');
    background-size: cover;
    height: 100vh;
}

#header {
  display: inline-block;
  width: 100%
}

#pureSkincare {
  color: white;
  display: inline-block;
}

#pureSkincare h1 {
  color: white;
  letter-spacing: 6px;
  font-size: 1.6em;
  font-weight: 300;
  display: inline-block;
  margin: 0;
}

.leaf-icon {
  padding: 5px;
}


/* right side navbar */

#headerNavbar {
  float: right;
  vertical-align: bottom;
  position: relative;
  top: 4px;
}

#mainNav {
  letter-spacing: 1.5px;
  font-weight: 200;
}

nav ul {
  padding:0;
  margin:0;
  list-style: none;
  position: relative;
  display:block;
  font-weight: 300;
}

#mainNav li {
  list-style-type: none;
  float: left;
  display: list-item;
  padding: 0 20px;
}

/* dropdown li */
#mainNav li li {
  background-color: #93B4CF;
  color: rgb(32, 29, 29);
  padding: 10px;
  width: 150px;
}

#mainNav li li:hover {
  background-color: #B8CDDF;
  color: black;
  font-weight: 400;
}

#mainNav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  text-decoration: none;
}

#mainNav li a:hover {
  color: white;
  cursor: pointer;
  color: rgb(236, 233, 233);
}

/* Change this in order to change the Dropdown symbol */
.dropdown-services:after { content: ' +'; }

.dropdown:hover {
  opacity: 1;
}

/* dropdown box */
nav ul ul {
  display: none;
  position: absolute;
  top: 21px;
  z-index: 5;
}

  /* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display:list-item;
}


.slogan {
  margin: 50px;
  padding-top: 50px;
  text-align: center;
  color: white;
  font-size: 2.4em;
  font-weight: 300;
  letter-spacing: 2px;
}

#beauty {
  font-size: 1.9em;
}


/* message area */

.message_area {
  height: 455px;
  width: 50%;
  background: rgb(247, 246, 246);
  margin: 65px auto;
  opacity: .95;
  display: none;
  border-radius: 8px;
  color: rgb(102, 101, 101);
}

.icon {
  float: right;
  padding:5px 8px 0 0;
  display: inline-block;
}

.message_area h2 {
  text-align: center;
  padding-top: 35px;
  font-size: 2.9em;
}

.message_area p {
  margin: 0 0 10px;
  text-align: center;
  font-size: 1.5em;
}

.value {
  font-size: 18px;
}

.message_area_img {
  opacity: 1;
  text-align: center;
  padding-top: 30px;
}

img {
  height: 175px;
  width: auto;
  border-radius: 9px;
  margin-top: 20px;
}


/* main page */

#mainPage img {
  vertical-align: middle;
  width: autp;
  width: 375px;
  height: auto;
  border-radius: 25px;
}

.row {
  padding: 50px 0 85px 0;
}


/* footer */

.footer .row {
  padding: 60px 0;
  background-color: #5887AC;
}






