.upper-page,
.footer {
  background-color: #5887AC;
}

body {
  margin: -20px 0 0 0;
  font-family: 'Maven Pro', sans-serif;
}

.wrapper {
  background-color: rgb(240, 240, 237);
}

.container-fluid {
  margin: 0;
  padding: 0;
}

#header {
  display: inline-block;
  width: 100%;
  padding: 30px;
}

.upper-page {
  width: 100%;
}

#pure-skincare {
  color: white;
  display: inline-block;
}

#pure-skincare h1 {
  color: white;
  letter-spacing: 6px;
  font-size: 1.6em;
  font-weight: 300;
  display: inline-block;
  margin: 0;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 5px;
}


/* right side navbar */

#header-navbar {
  float: right;
  vertical-align: bottom;
  position: relative;
  top: 4px;
}

#main-nav {
  letter-spacing: 1.5px;
  font-weight: 200;
}

nav ul {
  padding:0;
  margin:0;
  list-style: none;
  position: relative;
  display:block;
  font-weight: 300;
}

#main-nav li {
  list-style-type: none;
  float: left;
  display: list-item;
  padding: 0 20px;
}

/* dropdown li */
#main-nav li li {
  background-color: #93B4CF;
  color: rgb(32, 29, 29);
  padding: 10px;
  width: 150px;
}

#main-nav li li:hover {
  background-color: #B8CDDF;
  color: black;
  font-weight: 400;
}

#main-nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  text-decoration: none;
}

#main-nav li a:hover {
  color: white;
  cursor: pointer;
  color: rgb(236, 233, 233);
}

/* Change this in order to change the Dropdown symbol */
.dropdown-services:after { content: ' +'; }

.dropdown:hover {
  opacity: 1;
}

/* dropdown box */
nav ul ul {
  display: none;
  position: absolute;
  top: 21px;
  z-index: 5;
}

  /* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display:list-item;
}


/* footer */
.footer .row {
  padding: 60px 0;
  background-color: #5887AC;
}
