/* message area */

.message_area {
  height: 455px;
  width: 55%;
  background: rgb(247, 246, 246);
  margin: 65px auto;
  opacity: .95;
  display: none;
  border-radius: 8px;
  color: rgb(102, 101, 101);
}

.icon {
  float: right;
  padding:5px 8px 0 0;
  display: inline-block;
}

.message_area h2 {
  text-align: center;
  padding-top: 35px;
  font-size: 2.9em;
}

.message_area p {
  margin: 0 0 10px;
  text-align: center;
  font-size: 1.5em;
}

.value {
  font-size: 18px;
}

.message_area_img {
  opacity: 1;
  text-align: center;
  padding-top: 30px;
}

img {
  height: 175px;
  width: auto;
  border-radius: 9px;
  margin-top: 20px;
}



@media (min-width: 1200px) {
  .container {
    width: 85%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .message_area {
    width: 65%;
  }

}


@media (min-width: 320px) and (max-width: 767px) {
  .message_area {
    width: 75%;
    height: 440px;
  }

  .message_area img {
    height: 120px;
  }

  .message_area h2 {
    font-size: 2.1em;
  }

  .message_area p {
    font-size: 1.2em;
  }
}














