

/* message area */

.message_area {
  height: 455px;
  width: 50%;
  background: rgb(247, 246, 246);
  margin: 65px auto;
  opacity: .95;
  display: none;
  border-radius: 8px;
  color: rgb(102, 101, 101);
}

.icon {
  float: right;
  padding:5px 8px 0 0;
  display: inline-block;
}

.message_area h2 {
  text-align: center;
  padding-top: 35px;
  font-size: 2.9em;
}

.message_area p {
  margin: 0 0 10px;
  text-align: center;
  font-size: 1.5em;
}

.value {
  font-size: 18px;
}

.message_area_img {
  opacity: 1;
  text-align: center;
  padding-top: 30px;
}

img {
  height: 175px;
  width: auto;
  border-radius: 9px;
  margin-top: 20px;
}



/* main area */

.main {
  background: rgb(240, 240, 240);
  height: 100vh;
}

.container {
  text-align: center;
  padding-top: 75px;
}

/* Change this in order to change the Dropdown symbol */
.services li:after { content: ' +'; }

#sideNavbar {
  text-align: left;
  padding-left: 10px;
}

.services {
  font-size: 2em;
  padding-left: 0;
  color: rgb(88, 135, 172);
  letter-spacing: 5px;
}

#sideServicesList hr {
  margin: 4px 100px 10px 0;
  border: 0;
  border-top: 1px solid #B8B3B3;
  width: 140px;
}

#sideServicesList li {
  padding: 6px;
  font-size: 1.2em;
  letter-spacing: 2px;
}

#sideServicesList li a:hover {
  color: #23527c;
  margin-left: 3px;
  transition: .3s ease;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.services_quote {
  background: url('../images/girl-flowers.jpg');
  background-size: cover;
  padding: 65px;
  border-radius: 7px;
  opacity: 0.9;
}

.services_quote p {
  margin: 0 0 10px;
  font-family: Noto-Sans;
  font-size: 2.7em;
  color: rgb(8, 7, 7);
  letter-spacing: 4px;
  font-family: 'Noto Sans', sans-serif;
}

.facialsInfo,
.tintsInfo,
.waxInfo,
.acutonicsInfo {
  display: none;
  text-align: left;
}



@media (max-width: 991px) {
  .col-md-3 {
    display: none;
  }
}


@media (min-width: 320px) and (max-width: 767px) {
  .col-md-3 {
    display: none;
  }

  .message_area {
    width: 68%;
    height: 440px;
  }

  .message_area img {
    height: 150px;
  }
}













