

/* main area */

.main {
  background: rgb(240, 240, 240);
}

.container {
  text-align: center;
  padding-top: 75px;
}

#sideNavbar {
  text-align: left;
  padding-left: 10px;
}

.services {
  font-size: 2em;
  padding-left: 0;
  color: rgb(88, 135, 172);
  letter-spacing: 5px;
}

#sideServicesList hr {
  margin: 4px 100px 10px 0;
  border: 0;
  border-top: 1px solid #B8B3B3;
}

#sideServicesList li {
  padding: 6px;
  font-size: 1.2em;
}

#sideServicesList li a:hover {
  color: #23527c;
  margin-left: 5px;
  transition: .5s ease;
  font-weight: 400;
  text-decoration: none;
}

.col-md-7 {
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  margin-bottom: 75px;
  width: 69%;
}

.facials,
.tints,
.waxing,
.acutonics {
  margin-top: -30px;
  text-align: left;
  color: rgb(102, 101, 101);
  width: 80%;
  margin: 0 auto;
}

.facials h1,
.tints h1,
.waxing h1,
.acutonics h1 {
  font-size: 34px;
  letter-spacing: 5px;
  padding: 40px 0 5px;
  margin-top: -40px;
  border-bottom: 1px dotted;
}

.col-md-7 li,
h3 {
  font-size: 1.5em;
  letter-spacing: 2px;
  padding: 15px 0;
}

span.price {
  float: right;
  padding-right: 15px;
}

.facials p,
.tints p,
.waxing p,
.acutonics p {
  padding: 10px 0 20px;
  text-align: justify;
}



@media (min-width: 768px) and (max-width: 991px) {
  .main .row {
    width: 90%;
    margin: 0 auto;
  }

  .col-md-3 {
    display: none;
  }

  .col-md-7 {
    margin: 0 auto 75px;
    width: 90%;
  }

  #mainNav li {
    padding: 0 12px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .col-md-3 {
    display: none;
  }

  .col-md-7 {
    margin: 0 auto 75px;
    width: 80%;
  }

  .col-md-7 li {
    font-size: 1.1em;
    margin-left: -25px;
  }

  .facials p {
    padding: 5px 0 12px;
    margin-left: -25px;
  }

  .facials,
  .tints,
  .waxing,
  .acutonics {
    width: 90%;
  }

  .message_area {
    width: 68%;
    height: 440px;
  }

  .message_area img {
    height: 150px;
  }
}









