
/* main area */

.main {
  background: rgb(240, 240, 240);
}

.container {
  text-align: center;
  padding-top: 75px;
}

/* Change this in order to change the Dropdown symbol */
.services li:after { content: ' +'; }

#side-navbar {
  text-align: left;
  padding-left: 10px;
}

.services {
  font-size: 2em;
  padding-left: 0;
  color: rgb(88, 135, 172);
  letter-spacing: 3px;
}

#side-services-list hr {
  margin: 4px 100px 10px 0;
  border: 0;
  border-top: 1px solid #B8B3B3;
  width: 140px;
}

#side-services-list li {
  padding: 6px;
  font-size: 1.2em;
}

#side-services-list li a:hover {
  color: #23527c;
  margin-left: 3px;
  transition: .3s ease;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}



@media (max-width: 991px) {
  .col-md-3 {
    display: none;
  }
}


@media (min-width: 320px) and (max-width: 767px) {
  .col-md-3 {
    display: none;
  }

  .message-area {
    width: 68%;
    height: 440px;
  }

  .message-area img {
    height: 150px;
  }
}













